/*global*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: grid;

}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

img{
    width: 20em;
    border: none;
    border-radius: 100em;
}

button{
    width: 10em;
    height: 2.3em;
    border: none;
}

a{
    color: white;
    text-decoration: none;
}


body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto, 1fr, auto);
    min-height: 100vh;
}

/**Navigation-Bar*/
header{
    background-color: #1b5e99;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 25px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo{
    margin-left: 2em;
}

.logo a{
    font-weight: 1000;

}

.nav-items{
    display: flex;
    align-items: center;
    gap: 3em;
}

.nav-links{
    padding: 8px;
    border-radius:15px;
    border: none;
    transition: background-color .4s ease;
}

.nav-links:hover{
    background-color: teal;
}

/*Hero-section*/
.hero-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 44, 87, 0.879);
    gap: 4em;
    padding: 6em 8%;
}
.hero-content{
    flex: 1;
    max-width: 650px;   
}
.hero-subtitle{
    margin-bottom: .5em;
    font-weight: 600;
    font-size: 1.2em;
}
.hero-content h1{
    font-size: 3.5rem;
    font-weight:700;
    color: white;
    line-height: 1.5;
}
.hero-content h2{
    font-size: 1.75rem;
    color:white;
    margin-bottom: 1.5rem;
    font-weight: 400;
}
.hero-p {
    color: #cbd5e1;
    margin-bottom: 1.2rem;
    font-size: 1.05rem;
}
.btn-group{
    display: flex;
    gap: 1.5em;
    margin-top:2em ;
}

.btn button{
    background-color: #077e7ed2;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color .4s ease;
}

.btn button:hover{
    background-color: #089696;
}

.icons{
    display: flex;
    margin-top: 2em;
    gap: 1em;
}

.icons img{
    
    width: 1.8em;
    height: 1.8em;
    transition: transform .3s ease;
    border-radius: 0;
}
.icons img:hover{
    transform: translateY(-3px);
}
.main-img img{
    width:20rem;
    height: 20rem;
    object-fit: cover;
    border: 1px solid #eee6e6;
    border-radius: 50em;
    box-shadow: 0 20px 25px -5px rgba(0,0,0,0.2);
}

/*Technologies*/
.tech h3{
    text-align: center;
    padding-top: 2em;
    background-color: aliceblue;
    font-weight: bold;
    color: #1b5f99d0;
}

.tech-imgs{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: aliceblue;
}

.tech-imgs img{
    width:2.5em;
    margin:1em
}

.seperator{
    border-bottom: 2px solid #ccc;
    border: none;
    padding: 1px;
}

/*About me */
.about-section{
    background-color: #ffffff;
    padding: 5em 8%;
}
.about-card{
    max-width: 630px;
    text-align: start;
}
.about-me{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4em;

}
.about-card h3{
    color: #1b5e99;
    text-transform: uppercase;
    font-size: .9em;
    letter-spacing: 2px;
    margin-bottom:.5em;
}
.about-me h2{
    color: black;
    font-family:sans-serif;
    margin-bottom:1.5em;
}
.about-card p{
    color: rgb(0, 0, 0);
    margin-bottom: 1.5em;
    font-size: 1em;
}
.about-card {
    flex:1;
    max-width: 600px;
}
.about-me img{
    width: 20em;
    height: 15em;
    object-fit: cover;
    border-radius:10px; 
}

/*skills section*/
.skills-section{
    padding: 5rem 8%;
    background-color: white;
}
.section-title{
    text-align: center;
    font-size: 2em;
    color: #1b5f99d0;
    margin-bottom:2.5em ;
}
.skill-grid{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 2em;
}
.skills-card{
    background-color: aliceblue;
    padding: 2em;
    border-radius: 12px;
    box-shadow: 0px 4px 6px -1px rgba(0,0,0,0.2);
    transition: transform .3s ease;
    border-top: 4px solid #c3bbbb;  
}
.skills-card:hover{
    transform: translateY(-3px);
}

.skill-card h3{
   font-size: 1.25em;
   margin-bottom: 1em;
 
}
.card-items li{
    padding: .5em 0;
    position: relative;
    padding-left:1em;
}
.card-items::before{
    content:"*";
    position: absolute;
    left: 2;
    color: #1b5f99d0;
}

/*projects section*/
.project-section{
    padding:5rem 8%;
    background-color: white;
}
.projects-grid{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2.5rem;
}
.project-card{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:aliceblue;
    padding: 2.5rem;
    border-radius:15px;
    box-shadow: 0 10px 15px -8px;
}

.project-card h3{
    font-size:1.5rem;
    margin-bottom: 1rem;
}

.project-card p{
   margin-bottom: 1.5rem;
   font-size: .95rem;
   color: #2b2c2c;
}

.project-features{
    margin-bottom: 2rem;
}
.project-features li{
    color:#303132;
    margin-bottom:.5rem;
    list-style-type: circle;
    margin-left:1.2rem;
    font-size: .9rem;
}
.btn-project{
    width: 50%;
    background-color: rgba(10, 87, 155, 0.808);
    color:white;
}

/*contact section*/
.contacts-section{
    padding: 8rem 8%;
    background-color: rgb(25, 26, 26);
    color: black;
}
.contacts-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    margin-top: 5em;
}
.contact-info{
    width: 350px;
    margin-left: 2em;
}
.contact-info h2{
    color: black;
    font-size:1.5rem;
    margin-top: 1.5rem;

}
.contact-links p{
    color: black;
    margin-bottom:-.3em ;
}
.contact-links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.contact-form-wrapper{
    background-color: aliceblue;
    padding: 2.5em;
    margin-right: 5em;
    border-radius: 16px;
    box-shadow: 10px 20px 25px 5px rba(0,0,0,0.2);
}
.contact-form{
    display:flex;
    flex-direction:column;
    gap:1em;
}
.form-group{
    display:flex;
    flex-direction: column;
}
.form-group input,
.form-group textarea{
    padding: .75rem 1rem ;
    background-color: none;
    border:none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
}


/*footer styling*/
footer{
    background-color:#1b5f99d0;
    border-top: 1px solid #1e293b;
    padding: 3em 8% 2em;
}
.footer-container{
    display:grid;
    grid-template-columns:2fr 1fr 1fr;
    gap: 4rem;
    margin-bottom:2em ;
}
.footer-brand h1{
    color:white;
    margin-bottom: .5em;
    margin-left: .2em;
}
.footer-brand p{
    max-width: 350px;
    margin-bottom: 1.5em;
}
.copyright{
    font-size: .8e5m;
}
.footer-links h3{
    color: white;
    font-size:1.5rem;
    margin-bottom: 1.5rem;
}
.footer-links ul{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.footer-links a:hover{
    color:#ccd6d6;
}