/*global*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: grid;

}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

img{
    width: 20em;
    border: none;
    border-radius: 100em;
}

button{
    width: 10em;
    height: 2.3em;
    border: none;
}

a{
    color: white;
    text-decoration: none;
}

/*sample background*/
header{
    background-color: #077e7ed2;
}
main{
    background-color: rgb(204, 209, 212);
}

body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto, 1fr, auto);
    min-height: 100vh;
}

/**Navigation-Bar*/
header{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 25px;
}

.logo{
    margin-left: 2em;
}

.logo a{
    font-weight: 1000;

}

.nav-items{
    display: flex;
    align-items: center;
    gap: 3em;
}

.nav-links{
    padding: 8px;
    border-radius:15px;
    border: none;
    transition: background-color .4s ease;
}

.nav-links:hover{
    background-color: teal;
}

/*Hero-section*/
.hero-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(0, 44, 87, 0.879);
    gap: 300px;
}

.hero-container{
    display:flex;
    flex-direction: row;    
}

.hero-container h1{
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    padding: .2em;
}

.hero-container p, h2{
     font-family: sans-serif;
    color: white;
    font-weight: bold;
    padding: .3em;
}

.btn{
    display: flex;
    gap: 2em;
    margin-top:1em ;
}

.btn button{
    background-color: #077e7ed2;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color .4s ease;
}

.btn button:hover{
    background-color: #089696;
}

.icons{
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    gap: 1em;
}

.icons img{
    width: 2em;
}

/*Technologies*/
.tech h3{
    text-align: center;
    padding-top: 2em;
    background-color: aliceblue;
    font-weight: bold;
    color: #1b5f99d0;
}

.tech-imgs{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: aliceblue;
}

.tech-imgs img{
    width:2.5em;
    margin:1em
}

.seperator{
    border-bottom: 2px solid #ccc;
    border: none;
    padding: 1px;
}

/*About me */
.about-me{
    background-color: aliceblue;
    padding: 2em;
    display: flex;
    gap: 10em;
}
.about-card{
    max-width: 630px;
    text-align: start;
}
.about-card h3{
    color: #1b5f99d0;
    margin-top: 5px;

}
.about-me h2{
    color: black;
    text-align: start;
    font-family:sans-serif;
    margin-left:6px;
}
.about-card p{
    color: black;
    text-align: start;
    font-family:sans-serif;
    padding: 1em;
}

/*skills and section*/
.skills{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;

}
.skill-items{
    display:grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    min-height: 50vh;
    gap: 20px;
}
.cards{
    display: flex;
    flex-direction: column;
    width: 270px;
    align-items: center;   
}

.card-items{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
 
}
.cards h3{
    padding: 1em;
}

/*projects section*/
.projects{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.project-card{
    width: 410px;
    height: 310px;
    background-color: #1b5f99d0;
    padding: 1em;
    border-left: #089696;
}

.project-card h3,p{
    font-family: sans-serif;
    padding: .5em;
}

.project-card ul{
    display: flex;
    flex-direction: column;
    margin-left: .5em;
    font-family: sans-serif;
}

.project-card button{
    width: 15em;
    border-radius:8px;
    background-color:#077e7ed2;
}
.project h2{
    color:#1b5f99d0;
    margin-left:1em;
}

/*contact section*/
.contacts-section{
    padding: 8rem 8%;
    background-color: rgb(25, 26, 26);
    color: black;
}
.contacts-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    margin-top: 5em;
}
.contact-info{
    width: 350px;
    margin-left: 2em;
}
.contact-info h2{
    color: black;
    font-size:1.5rem;
    margin-top: 1.5rem;

}
.contact-links p{
    color: black;
    margin-bottom:-.3em ;
}
.contact-links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.contact-form-wrapper{
    background-color: aliceblue;
    padding: 2.5em;
    margin-right: 5em;
    border-radius: 16px;
    box-shadow: 10px 20px 25px 5px rba(0,0,0,0.2);
}
.contact-form{
    display:flex;
    flex-direction:column;
    gap:1em;
}
.form-group{
    display:flex;
    flex-direction: column;
}
.form-group input,
.form-group textarea{
    padding: .75rem 1rem ;
    background-color: none;
    border:none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
}


/*footer styling*/
footer{
    background-color:#1b5f99d0;
    border-top: 1px solid #1e293b;
    padding: 3em 8% 2em;
}
.footer-container{
    display:grid;
    grid-template-columns:2fr 1fr 1fr;
    gap: 4rem;
    margin-bottom:2em ;
}
.footer-brand h1{
    color:white;
    margin-bottom: .5em;
    margin-left: .2em;
}
.footer-brand p{
    max-width: 350px;
    margin-bottom: 1.5em;
}
.copyright{
    font-size: .8e5m;
}
.footer-links h3{
    color: white;
    font-size:1.5rem;
    margin-bottom: 1.5rem;
}
.footer-links ul{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.footer-links a:hover{
    color:#ccd6d6;
}