/*global*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: grid;

}

ul{
    list-style: none;
}

img{
    width: 20em;
    border: none;
}

button{
    width: 10em;
    height: 2.3em;
    border: none;
}

a{
    color: white;
    text-decoration: none;
}

/*sample background*/
header{
    background-color: #077e7ed2;
}
main{
    background-color: rgb(204, 209, 212);
}
footer{
    background-color: teal;
}

body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto, 1fr, auto);
    min-height: 100vh;
}

/**Navigation-Bar*/
header{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 25px;
}

.logo{
    margin-left: 2em;
}

.logo a{
    font-weight: 1000;

}

.nav-items{
    display: flex;
    align-items: center;
    gap: 3em;
}

.nav-links{
    padding: 8px;
    border-radius:15px;
    border: none;
    transition: background-color .4s ease;
}

.nav-links:hover{
    background-color: teal;
}
