<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>

    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

    <!--Navigation Section-->
    <header>
        <div class="logo">
            <a href="#">Henzie.</a>
        </div>
        <nav>
            <ul class="nav-items">
                <li><a class="nav-links" href="#">Home</a></li>
                <li><a  class="nav-links" href="#about-section">About</a></li>
                <li><a  class="nav-links" href="#skills-section">Skills</a></li>
                <li><a  class="nav-links" href="#project-section">Projects</a></li>
            </ul>
        </nav>
        <div class="Contact">
            <ul>
                <li><a class="nav-links" href="#contact-section">Contact</a></li>
            </ul>
        </div>
    </header>

    <main>
        
        <!--Hero section-->
        <section class="hero-container">
            <div class="hero-content">
                <p class="hero-subtitle">Hi, I'm</p>
                <h1>Henry Henzie</h1>
                <h2>Software Developer and backend Architect</h2>
                <p class="hero-p">
                    I design and build scalable, secure and efficient backend systems and APIs<br>
                    that power morden applications and digital systems.
                </p>
                <p class="hero-p">
                    With expertise in Python, Django, FastAPI, Docker and cloud technologies,<br>
                    i help transform complex software requirements into reliable, secure and <br>
                    high-performance software solutions.<br>
                </p>
                <div class="btn-group">
                    <button><a href="#">View My Work</a></button>
                    <button><a href="#">Contact Me</a></button>
                </div>
                <div class="icons">
                    <a href="https://github.com/Henzie-ii"><img src="../icons/github.svg" alt="GitHub icon"></a>
                    <a href="https://henryhenzie03@gmail.com"><img src="../icons/email-svgrepo-com.svg" alt="email icon"></a>
                    <a href="https://www.instagram.com/arch_oii"><img src="../icons/instagram.svg" alt="instagram icon"></a>
                    
                </div>
            </div>
            <div class="main-img">
                <img src="../thumbnails/user(1).png" alt="">
            </div>
        </section>

        <!--Trusted Technologies section-->
        <section class="tech">
            <h3> Trusted Technologies</h3>
            <div class="tech-imgs">
                
                <img src="../icons/python-svgrepo-com.svg" alt="python icon">
                <img src="../icons/fastapi-svgrepo-com.svg" alt="fastapi icon">
                <img src="../icons/django-svgrepo-com.svg" alt="django icon">
                <img src="../icons/mysql-logo-svgrepo-com.svg" alt="mysql icon">
                <img src="../icons/linux-svgrepo-com.svg" alt="linux icon">
                <img src="../icons/docker-svgrepo-com.svg" alt="docker icon">
                <img src="../icons/git-svgrepo-com.svg" alt="git icon">
            </div>
        </section>

        <hr class="seperator">
       
        <!--About Me-->
        <section id="about-section" class="about-section">
            <div class="about-me">             
            <div class="about-card">
                <h3>About Me</h3>
                <h2>Building Software Systems That Scales</h2>
                <p>
                    I specilize in backend engineering, software architecture and distributed systems.<br>
                </p>
                <p>
                    My focus is creating maintainable software that solves real business problems.<br>
                    From REST APIs and microservices to enterprise platforms and cloud infrastructure,
                    i design systems that remain reliable as businesses grow.<br> 
                </p>
                <p>
                    I believe great software is not functional but also secure,scalable and easy to maintain.<br>
                </p>
            </div>
            <div class="about-img">
                <img src="../thumbnails/#.jpg" alt="">
            </div>
        </section>

        <!--My Skills and Services section-->
        <section id="skills-section" class="skills-section">
            <h2 class="section-title">Skills & Expertise</h2>
            <div class="skill-grid">  
                    <div class="card skills-card">
                        <div class="skills-icon">
                            <h3>Backend Development</h3>
                            <img src="../icons/backend.svg" alt="">
                        </div>
                        <ul class="card-items">
                            <li>Python (Django * FastAPI)</li>
                            <li>Robust API Architecture</li>
                            <li>Java</li>
                        </ul>
                    </div>

                    <div class="card skills-card">
                        <div class="skills-icon">
                            <h3>Databases Design</h3>
                            <img src="../icons/database.svg" alt="">
                        </div>
                        <ul class="card-items">
                            <li>MySQL</li>
                            <li>Postgres</li>
                            <li>Efficient Data Modeling</li>
                        </ul>
                    </div>

                    <div class="card skills-card">
                        <div class="skills-icon">
                            <h3>DevOps & Cloud</h3>
                            <img src="../icons/cloud.svg" alt="">
                        </div>
                        <ul class="card-items">
                            <li>Linux Platforms</li>
                            <li>Docker Containerization</li>
                            <li>Git & CI/CD Pipelines</li>
                        </ul>
                    </div>

                    <div class="card skills-card">
                        <div class="skills-icon">
                            <h3>Architecture</h3>
                            <img src="../icons/devops.svg" alt="">
                        </div>
                        <ul class="card-items">
                            <li>System Design</li>
                            <li>Microservices</li>
                            <li>Authentication (OAuth2 & JWT)</li>
                        </ul>
                    </div>
            </div>  
        </section>

        <!--PROJECTS-->
        <section id="project-section" class="project-section">
            <h2 class="section-title">Featured Projects</h2> 
            <div class="projects-grid">

                <div class="project-card">
                    <h3>Enterprise Bookstore</h3>
                    <p>A fullstack online bookstore built with Django, FastAPI,React, MySQL and Docker.</p>
                        <ul class="project-features">
                            <li>User Authentication</li> 
                            <li>Order Management</li>   
                            <li>Payment integration</li>
                            <li>Inventory Tracking</li>
                            <li>Admin Dashboard</li>
                       </ul>
                    <button class="btn"><a href="#">Project UnderDevelopment</a></button>
                </div>

                <div class="project-card">
                    <h3>Space-Cord</h3>
                    <p>
                       An APi for Project development and management platform supporting teams
                       with real time collaboration and tracking.
                    </p>
                        <ul class="project-features">
                            <li>RESTful API</li>
                            <li>Realtime updates</li>
                            <li>comments & Mentions</li>
                            <li> Team Management</li>
                        </ul>
                    <button class="btn btn-project"><a href="https://github.com/Henzie-ii/Task-Manager" target="_blank">View Project</a></button>
                </div>

                <div class="project-card">
                    <h3>Gas-Supplier E-commerce</h3>
                    <p>
                        A fullstack online platform that will sell cooking gas products,
                        and real time asset tracking.
                    </p>
                        <ul class="project-features">
                            <li>User Auth</li>
                            <li>Order & Delivery management</li>
                            <li>Refill and Asset Tracking</li>
                            <li>Payment intergration</li>
                        </ul>
                    <button class="btn "><a href="#">System UnderDevelopment</a></button>
                </div>
            </div>
        </section>

    </main>

    <footer id="contact-section">
        <div class="footer-container">
            <div class="footer-brand">
                <h1>Henzie.</h1>
                <p>Software Engineer * Backend Architecture Building reliable systems for modern businesses.</p>
                <p class="copyright">&copy;2026 Henzie. All rights reserved</p>
            </div>  

            <div class="quick-links">
                <h3>Quick Links</h3>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Skills</a></li>
                    <li><a href="#">Projects</a></li>
                </ul>
            </div>    

            <div class="footer-links">
                <h3>Connect</h3>
                <div class="icon-link">
                    <img src="../icons/github.svg" alt="GitHub">
                    <a href="https://">Henzie-ii</a>
                </div>
                <div class="icon-link">
                    <img src="../icons/email.svg" alt="">
                    <p>henryhenzie03@gmail.com</p>
                </div>
                <div class="icon-link">
                    <img src="../icons/telephone.svg" alt="">
                    <p>+265 987260572</p>
                </div>
                
                
            </div>
        </div>
        </footer>
</body>
</html>