<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>

    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <!--Navigation Section-->
    <header>
        <div class="logo">
            <a href="#">Henzie</a>
        </div>
        <nav class="nav-bar">
            <ul class="nav-items">
                <li><a class="nav-links" href="#">Home</a></li>
                <li><a class="nav-links" href="#">About</a></li>
                <li><a class="nav-links" href="#">Skills</a></li>
                <li><a class="nav-links" href="#">Projects</a></li>
            </ul>
        </nav>
        <div class="Contact">
             <li><a class="nav-links" href="#">Contact</a></li>
        </div>
    </header>

    <main>
        
        <!--Hero section-->
        <section class="hero-container">
            <div class="hero-content">
                <p>Hello, I'm</p>
                <h2>Henry Henzie</h2>
                <h3>Software Engineer and backend Architect</h3>
                <p>
                    I design and build scalable, secure and efficient backend systems and APIs<br>
                    that power morden applications and digital systems.
                </p>
                <p>
                    With expertise in Python, Django, FastAPI, Docker and cloud technologies,<br>
                    i help transform complex software requirements into reliable, secure and <br>
                    high-performance software solutions.<br>
                </p>
                <div class="btn">
                    <button><a href="#">View My Work</a></button>
                    <button><a href="#">Contact Me</a></button>
                </div>
                <div class="icons">
                    <img src="#" alt="">
                    <img src="#" alt="">
                    <img src="#" alt="">
                </div>
            </div>
            <div class="main-img">
                <img src="#" alt="">
            </div>
        </section>

        <!--Trusted Technologies section-->
        <section >
            <div class="tech-imgs">
                <img src="#" alt="">
                <img src="#" alt="">
                <img src="#" alt="">
                <img src="#" alt="">
                <img src="#" alt="">
            </div>
        </section>

        <!--About Me-->
        <section>
            <div class="about-me">
                <p>
                    I specilize in backend engineering, software architecture and distributed systems.<br>
                </p>
                <p>
                    My focus is creating maintainable software that solves real business problems.<br>
                    From REST APIs and microservices to enterprise platforms and cloud infrastructure,<br>
                    i design systems that remain reliable as businesses grow.<br> 
                </p>
                <p>
                    i believe great software is not functional but also secure,scalable and easy to maintain.<br>
                </p>
            </div>
            <div class="about-img">
                <img src="#" alt="">
            </div>
        </section>

        <!--My Skills and Services section-->
        <section>

            <div class="skills">
                <div class="skill-cards">

                    <div class="cards">
                        <h3>Backend Development</h3>
                        <ul>
                            <li>Python</li>
                            <li>FastAPI</li>
                            <li>Django</li>
                            <li>Java</li>
                        </ul>
                    </div>

                    <div class="cards">
                        <h3>Databases</h3>
                        <ul>
                            <li>MySQL</li>
                            <li>Postgres</li>
                        </ul>
                    </div>

                    <div class="cards">
                        <h3>DevOps & Cloud</h3>
                        <ul>
                            <li>Linux</li>
                            <li>Docker</li>
                            <li>Git</li>
                            <li>CI/CD</li>
                        </ul>
                    </div>

                    <div class="cards">
                        <h3>architecture</h3>
                        <ul>
                            <li>RESTAPIs</li>
                            <li>System Design</li>
                            <li>Microservices</li>
                            <li>Authentication & Authorization</li>
                        </ul>

                    </div>

                </div>

            </div>
            <div class="">

            </div>

        </section>

    </main>

    
</body>
</html>