<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>

    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

    <!--Navigation Section-->
    <header>
        <div class="logo">
            <a href="#">Henzie.</a>
        </div>
        <nav>
            <ul class="nav-items">
                <li><a class="nav-links" href="#">Home</a></li>
                <li><a class="nav-links" href="#">About</a></li>
                <li><a class="nav-links" href="#">Skills</a></li>
                <li><a class="nav-links" href="#">Projects</a></li>
            </ul>
        </nav>
        <div class="Contact">
            <ul>
                <li><a class="nav-links" href="#">Contact</a></li>
            </ul>
        </div>
    </header>

    <main>
        
        <!--Hero section-->
        <section class="hero-container">
            <div class="hero-content">
                <p>Hello, I'm</p>
                <h1>Henry Henzie</h1>
                <h2>Software Engineer and backend Architect</h2>
                <p>
                    I design and build scalable, secure and efficient backend systems and APIs<br>
                    that power morden applications and digital systems.
                </p>
                <p>
                    With expertise in Python, Django, FastAPI, Docker and cloud technologies,<br>
                    i help transform complex software requirements into reliable, secure and <br>
                    high-performance software solutions.<br>
                </p>
                <div class="btn">
                    <button><a href="#">View My Work</a></button>
                    <button><a href="#">Contact Me</a></button>
                </div>
                <div class="icons">
                    <a href="https://github.com/Henzie-ii"><img src="../icons/github.svg" alt="GitHub icon"></a>
                    <a href="https://henryhenzie03@gmail.com"><img src="../icons/email-svgrepo-com.svg" alt="email icon"></a>
                    <a href="https://www.instagram.com/arch_oii"><img src="../icons/instagram.svg" alt="instagram icon"></a>
                    
                </div>
            </div>
            <div class="main-img">
                <img src="../thumbnails/henzie2.jpg" alt="">
            </div>
        </section>

        <!--Trusted Technologies section-->
        <section class="tech">
            <h3> Trusted Technologies</h3>
            <div class="tech-imgs">
                
                <img src="../icons/python-svgrepo-com.svg" alt="python icon">
                <img src="../icons/fastapi-svgrepo-com.svg" alt="fastapi icon">
                <img src="../icons/django-svgrepo-com.svg" alt="django icon">
                <img src="../icons/mysql-logo-svgrepo-com.svg" alt="mysql icon">
                <img src="../icons/linux-svgrepo-com.svg" alt="linux icon">
                <img src="../icons/docker-svgrepo-com.svg" alt="docker icon">
                <img src="../icons/git-svgrepo-com.svg" alt="git icon">
            </div>
        </section>

        <hr class="seperator">
       
        <!--About Me-->
        <section class="about-section">
            <div class="about-me">             
            <div class="about-card">
                <h3>About Me</h3>
                <h2>Building Software Systems That Scales</h2>
                <p>
                    I specilize in backend engineering, software architecture and distributed systems.<br>
                </p>
                <p>
                    My focus is creating maintainable software that solves real business problems.<br>
                    From REST APIs and microservices to enterprise platforms and cloud infrastructure,
                    i design systems that remain reliable as businesses grow.<br> 
                </p>
                <p>
                    I believe great software is not functional but also secure,scalable and easy to maintain.<br>
                </p>
            </div>
            <div class="about-img">
                <img src="../thumbnails/#.jpg" alt="">
            </div>
        </section>

        <!--My Skills and Services section-->
        <section class="skills-section">
            <h2 class="section-title">Skills & Expertise</h2>
            <div class="skill-grid">  
                    <div class="card skills-card">
                        <h3>Backend Development</h3>
                        <ul class="card-items">
                            <li>Python (Django * FastAPI)</li>
                            <li>Robust API Architecture</li>
                            <li>Java</li>
                        </ul>
                    </div>

                    <div class="card skills-card">
                        <h3>Databases</h3>
                        <ul class="card-items">
                            <li>MySQL</li>
                            <li>Postgres</li>
                            <li>Efficient Data Modeling</li>
                        </ul>
                    </div>

                    <div class="card skills-card">
                        <h3>DevOps & Cloud</h3>
                        <ul class="card-items">
                            <li>Linux Platforms</li>
                            <li>Docker Containerization</li>
                            <li>Git & CI/CD Pipelines</li>
                        </ul>
                    </div>

                    <div class="card skills-card">
                        <h3>Architecture</h3>
                        <ul class="card-items">
                            <li>System Design</li>
                            <li>Microservices</li>
                            <li>Authentication (OAutho2 & JWT)</li>
                        </ul>
                    </div>
            </div>  
        </section>

        <!--PROJECTS-->
        <section class="project-section">
            <h2 class="section-title">Featured Projects</h2> 
            <div class="projects-grid">

                <div class="project-card">
                    <h3>Enterprise Bookstore</h3>
                    <p>A fullstack online bookstore built with Django, FastAPI,React, MySQL and Docker.</p>
                        <ul class="project-features">
                            <li>User Authentication</li> 
                            <li>Order Management</li>   
                            <li>Payment integration</li>
                            <li>Inventory Tracking</li>
                            <li>Admin Dashboard</li>
                       </ul>
                    <button class="btn-disable"><a href="#">Project UnderDevelopment</a></button>
                </div>

                <div class="project-card">
                    <h3>Space-Cord</h3>
                    <p>
                       An APi for Project development and management platform supporting teams
                       with real time collaboration and tracking.
                    </p>
                        <ul class="project-features">
                            <li>RESTful API</li>
                            <li>Realtime updates</li>
                            <li>comments & Mentions</li>
                            <li> Team Management</li>
                        </ul>
                    <button class="btn btn-project"><a href="https://github.com/Henzie-ii/Task-Manager" target="_blank">View Project</a></button>
                </div>

                <div class="project-card">
                    <h3>Gas-Supplier E-commerce</h3>
                    <p>
                        A fullstack online platform that will sale cooking gas products,
                        and real time asset tracking.
                    </p>
                        <ul class="project-features">
                            <li>User Auth</li>
                            <li>Order & Delivery management</li>
                            <li>Refill and Asset Tracking</li>
                            <li>Payment intergration</li>
                        </ul>
                    <button class="btn btn-disable"><a href="#">System UnderDevelopment</a></button>
                </div>
            </div>
        </section>

        <!--Contact section-->
        <section class="Contacts-section">
            <div class="contacts-container">

                <div class="contact-info">
                    <h2>Let's Build something Great Together</h2>
                    <p> 
                        Whether you need  a scalable  backend system, API architectur or
                        technical consultation, i'd love to discuss your next project 
                    </p>
                </div>

                <div class="contact-links">

                    <div class="contact-item">
                        <h5>Email</h5>
                        <p><a href="mailto:henryhenzie03@gmail.com">henryhenzie03@gmail.com</a></p>
                    </div>

                    <div class="contact-item">
    
                        <div>
                            <h5>GitHub</h5>
                            <p><a href="">github.com/Henzie-ii</a></p>
                        </div>
                       
                    </div>

                    <div class="contact-item">
                        <h5>Location</h5>
                        <p>Malawi</p>
                    </div>

                </div>

                <div class="contact-form-wrapper">
                    <form class="contact-form" action="#" methos="POST">
                       
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" name="#" id="#" required>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" name="#" id="#" required>
                        </div>
                        <div class="form-group">
                            <label>Message</label>
                            <textarea rows="4" placeholder="Tell me about your message"></textarea>
                        </div>
                        <button type="submit ">Send Message</button>
                    </form>

                </div>               
            </div>
        </section>
    </main>

    <footer>
        <div class="footer-container">
            <div class="footer-brand">
                <h1>Henzie.</h1>
                <p>Software Engineer * Backend Architecture Building reliable systems for modern businesses.</p>
                <p class="copyright">&copy;2026 Henzie. All rights reserved</p>
            </div>  

            <div class="footer-links">
                <h3>Quick Links</h3>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Skills</a></li>
                    <li><a href="#">Projects</a></li>
                </ul>
            </div>    

            <di class="footer-links">
                <h3>Connect</h3>
                <ul>
                    <img src="icons/#" alt="">
                    <img src="icons/#" alt="">
                    <img src="icons/#" alt="">
                </ul>
                
            </div>
        </footer>
</body>
</html>